@media only screen and (max-width: 425px) {

    .header {
        height: 70px;
    }
    .header-left {
        font-size: 3vw;
        padding-left: 10%;
        font-weight: 500;
    }
    .mail {
        width: 18px;
    }
    .phone {
        width: 12px;
    }
    
    .logo1 {
        padding-top: 14px;
        letter-spacing: .6px;
    }
    .logo2 {
        padding-left: 12px;
        letter-spacing: .7px;
        padding-top: 12px;
    }

    div.logo1 span {
        padding-left: 7px;
    }
    div.logo2 span {
        padding-left: 8px;
    }

    .logo span {
        padding-left: 0px;
    }
   .header-right {
    padding-right: 11%;
    padding-top: 10px;
   }

   .login {
    padding-right: 21px;
    font-size: 12px;
    padding-top: 8px;
    }
   .header-right button {
    font-size: 13px;
    height: 26px;
    width: 82px;
    margin-top: 0px;
    padding-left: 0px;
    border-radius: 1px;
    }
    /*  */
    .navigetion {
        padding: 1%;
        margin-bottom: 0px;
    }
    
    .dsa-logo {
        float: left;
        padding-left: 7%;
    }

    .chef-logo {
        padding: 0%;
        margin-top: 16px;
        width: 7%;
        padding-right: 4px;
    }
    .one-line {
        padding-top: 14px;
    }
    .leave {
        height: 13px;
    }
    .code-m {
        padding-right: -1px;
        width: 17%;
    }
    .code-cer {
        height: 10px;
        padding-left: 1px;
    }

    .dsa img {
        width: 90%;
    }
    .one-line, .dsa {
        padding-left: 15%;
    }
    .dots {
        padding-left: 75%;
    } 
   .nav-menu {
        margin-right: 0px;
        padding-left: 4%;
        margin-top: 24px;
        float: none;
    }

    .nav-menu li {
        padding: 6.2%;
        font-size: 4vw;
    }
    /*  */
 
    .dsa-banner{
        height: 755px;
        margin-top: 0px;
    }
    .dsa-banner h1 {
        font-size: 8vw;
        padding-left: 9%;
        letter-spacing: 1px;
    }

    .dsa-info {
        padding-top: 34px;
        margin-left: 0%;
    }

    .dsa-banner p {
        font-size: 25.9px;
        margin-top: 11%;
        line-height: 48px;
        padding-left: 8%;
        letter-spacing: 0;
    }

    .dsa-banner button {
        margin-left: 7%;
        margin-top: 44px;
        width: 220px;
    }

    .chef-img {
        padding-right: 3%;
        margin-top: -16px;
        width: 191px;
    }
    /*  reg */
    .registration {
        height: 118px;   
    } 
    .registration ul {
        display: block;
        padding-top: 17px;
        margin-left: 0%;
    }
    .divider {
        display: none;
    }
    .date-text {
        font-size: 15px;
        padding-top: 186px;
    }
    .reg {
        padding: 12px 17px;
    }
    .date {
        font-size: 21px;
        float: right;
        padding-right: 26px;
        margin-top: -47px;
    }

    /* dsa-certi */
    .dsa-certi {
        height: 639px;
    }
    
    .dsa-certi h1 {
        font-size: 31px;
        padding-top: 54px;
        padding-left: 7%;
        text-align: start;
    }
    
    .dsa-Description p {
        padding-top: 24px;
        font-size: 17px;
        padding-left: 31px;
        letter-spacing: 1.7px;
    }
    .next-p {
        padding-top: 33px !important;
    }
    .enrol {
        margin-top: 11%;
    }
    .enrol h1{
        text-align: start;
        font-size: 40px;
        padding-left: 31px;
    }
    .enrol ul {
        margin-left: 0%;
        padding-top: 27px;
    }
    .enrol ul li {
        padding-left: 16%;
        font-size: 16px;
        font-weight: 400;
    }
    .horizontal {
        width: 29px;
    }
    .foundation {
        margin-top: -0.5%;
    }
    .levels > p {
        line-height: 42px;
        padding-top: 8px;
        padding-left: 10%;
        padding-right: 20%;
    }
    .des-img >h3, .levels > p {
        font-size: 16px;
        letter-spacing: .89px;
        color: #2F2F2F;
        font-weight: 350;
    }
    section {
        display: block;
        padding-left: 9%;
        padding-right: 0%;
    }
    .titles {
        padding-top: 36px;
        font-size: 18px;
        letter-spacing: 1.9px;
    }
    .title2 {
        display: none;
    }
    .mobile-price {
        display: block;
        margin-top: 51px;
        font-size: 23px;
    }
    .card-m {
        display: block;
        padding-top: 24px;
        padding-left: 1%;
        width: 85%;
    }
    .rs {
        margin-top: -223px;
        position: absolute;
        font-size: 5.9vw;
        line-height: 11vw;
        margin-left: 17.5%;
        letter-spacing: .1vw;
        font-weight: 100;
        margin-right: 27%;
    }
    .banner-button, .levels-button {
        width: 58.1%;
        height: 55px;
        font-size: 22px;
        border: none;
        background-color: #ff4107;
        color: white;
    }
    .levels-button {
        margin-left: 11.2%;
        margin-top: -1px;
    }


    
   
/* 
    .title_  {
        padding-left: 32px;
        color: #2f2d2d;
        letter-spacing: 2px;
        font-size: 22px;
    }
    
    .detail {
        padding-left: 30px;
        padding-top: 44px;
        font-size: 26px;
        font-weight: 700;
    }
    
    .detail h4 {
        padding-top: 28px;
        font-size: 19px;
    } */

    /* .detail h3 {
        padding-top: 19px;
        font-size: 21px;
        color: #ff5912;
        letter-spacing: 2.7px;
    }
    
    .mock {
        padding-top: 20px;
    }
    
    .courses {
        position: relative;
        font-size: 24px;
        margin-bottom: 102x;
        padding-bottom: 64px;
    }
    .courses h4{
        padding-left: 33px;
        font-size: 35px;
        padding-top: 78px;
    } */
    .card-l {
        display: none;
    }
   

    /* .old-price,.Discounted-price,.avail-p{
        margin-left: 12%;
    } */
    /* .old-price {
        margin-left: 11%;
        margin-top: -67%;
    } */
    
    .courses > div {
        margin-left: 13%;
        line-height: 52px;
        width: 297px;
    }
    .courses button {
        margin-left: 7.1%;
        margin-top: 99px;
        width: 266px;
    }
    .testimonials {
        margin-top: 6%;
        height: 304px;
    }

    /*  */
    .testimonials > h2 {
        padding-top: 58px;
        font-size: 45px;
        padding-left: 32px;
        text-align: start;
    }
    
    .lorem-t {
        text-align: start;
        margin-top: -21px;
        letter-spacing: 1px;
        padding: 42px;
        line-height: 31px;
        margin-bottom: 0%;
    }
    .right-cont {
        position: absolute;
        margin-top: 18px;
    }



    .left-cart , .right-card {
        display: none;
    }
    
    .cc-card {
        background-color: white;
        height: 531px;
        margin-left: 0%;
        margin-right: 0px;
        width: 100%;
    }
    
    .whitecard{
        display: none;
    }
    
    .amit_image {
        margin-top: 337px;
        margin-left: 29%;
        width: 117%;
    }
    
    .cc-photo {
        width: 26.4%;
        height: 531px;
    }
    
    .sof {
        font-size: 17px;
        line-height: 24px;
        padding-left: 18%;
        letter-spacing: 1px;
    }
    
    .content_ccdsa {
        font-size: 14px;
        letter-spacing: 1px;
        padding-left: -18px;
        width: 55%;
        padding-top: 8px;
    }
    .padding {
        color: #2F2F2F;
        margin-left: 30%;
    }
    .quote {
        position: absolute;
        margin-left: -13.7%;
        margin-top: -11px;
        width: 10.4%;
    }
    
    


    
    .c-dots {
        padding-left: 90px;
        filter: blur(0.5px);
    }
    .d-img {
        width: 56px;
    }
    
    .name{
        padding-left: 19%;
        font-size: 21px;
    }
    
    h4.hr {
        margin-left: 48%;
    }
    
    .cc-card i {
        padding-left: 18%;
        font-weight: 700;
        font-size: 15px;
    }
    
    .head-line {
        text-align: start;
        padding-left: 7%;
        font-size: 39px;
        margin-top: 593px;
    }
    .experience {
        box-shadow: 1px 1px #b9b3b3;
    }
    .right-card {
        float: right;
        margin-top: -13%;
    }
    
    h2.head-line {
        text-align: center;
        font-size: 44px;
        padding-top: 95px;
        font-weight: 300;
    }
    
    p.lorem-t2 {
        display: none;
    }
    
    .certified-u {
        margin-top: 0%;
        margin-left: 0%;
    
    }
    
    .box {
        background: linear-gradient(to right, #f7f7f7 55%, #ffffff 45%);
        border: 1px solid #cbcbcb;
    }
    
    .card {
        margin-left: 17%;
        margin-top: 10%;
        margin-right: 17%;
        width: 74%;
    }
    
    
    .user-img {
        padding-top: 58px;
        padding-left: 58px;
        width: 125px;
    }
    
    .card h3 {
        padding-top: 47px;
        padding-left: 55px;
    }
    
    
    .card p {
        padding-top: -1px;
        padding-left: 55px;
        font-size: 17px;
        line-height: 36px;
    }
    
    
    .card span {
        padding-left: 55px;
        font-size: 17px;
    }
    
    
    .under-line {
        width: 170px;
        margin-left: 55px;
        margin-top: 19px;
     
    }
    
    .tag {
        padding-top: 20px;
        margin-left: 54px;
        font-size: 19px;
        font-weight: 100;
    
    }
    
    .dot {
        padding-left: 17%;
        padding-top: 2%;
    }
    .social-m h3 {
        text-align: center;
        padding-top: 2%;
    }
    
    .social-m {
        padding-top: 8%;
        text-align: center;
        height: 100px;
    }   
    
    
    .social-m img {
        padding: 10px;
    }
    
    .footer {
        background-color: #f2f2f2;
        height: 770px;
    
    }
    .footer h4 {
        text-align: center;
        position: initial;
        margin-top: 0%;
        margin-left: 0%;
        padding-top: 32px;
        font-weight: 600;
        font-size: 21px;
    }
    
    .footer > img {
        text-align: center;
        padding-left: 202px;
        padding-top: 0px;
        margin-left: 0%;
    }
    .menu-list {
        display: initial;
    }
    
    .menu-list li {
        padding: 10px;
        padding-left: 43%;
        font-size: 16px;
    }
    .home2 {
        margin-left: 0px;
    }
    .line {
        display: none;
    }
    
    .menu-list2 {
        display: inline;
        margin-top: 10px;
        margin-left: 0px;
       
    }
    
    .menu-list2 li {
        padding: 10px;
        text-align: start;
        padding-left: 152px;
        font-size: 17px;
    }
    .practise {
        margin-left: 0px;
    }
    
    .codechef-i {
        /* position: inherit; */
        margin-top: 58px;
        text-align: center;
        
    }
    
    .codechef-i > img {
        width: 91px;
        padding-right: 7px;
    }
    
    .pay-cards {
        float: right;
    }
    .pay {
        margin-top: 80px;
        right: 55px;
        font-size: 20px;
    }
    
    .pay img {
        margin-top: 0px;
        width: 138px;
    }
    
    .p-card {
        position: absolute;

        width: 64%;
        margin-left: 24%;
        margin-top: 135px;
    }
    
 
  
  }









