*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',sans-serif;
    list-style: none;
}
/* hearder  */
.header {
    border-bottom: 1px solid #eaeaeb;
    padding: 1.5%;
    color: #34404B;
    height: 21px;
}
.header-left {
    padding-left: 5.9%;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.header-left , .header-right {
    display: -webkit-inline-flex;
}
.header-right {
    float: right;
    padding-right: 5.7%;
}
.mail {
    width: 20px;
}
.phone {
    width: 14px;
}
.logo img {
    padding-top: 1px;
}
.logo2 {
    padding-left: 23px;
}
.logo2 span {
    padding-left: 1px;
}
.logo span {
    padding-left: 7px;
}
.login {
    padding-right: 30px;
    font-size: 16px;
}
.header-right button {
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid rgb(252, 92, 34);
    background-color: white;
    border-radius: 3px;
    height: 38px;
    width: 123px;
    margin-top: -10px;
    font-weight: 350;
}
/* navgigetion */
.navigetion {
    padding: 1%;
    margin-bottom: 76px;
}
.leave {
    height: 18px;
}
.code-m {
    height: 11px;
    padding-bottom: 3px;
}
.code-cer {
    height: 16px;
    padding-left: 5px;
}
.dsa-logo {
    float: left;
    padding-left: 6.35%;
}
.nav-menu {
    display: -webkit-inline-flex;
    float: right;
    margin-top: 30px;
    margin-right: 296px;
}
.nav-menu li {
    padding: 7.89%;
    font-size: 19px;
    color: #34404B;
}
.chef-logo {
    position: absolute;
    border: 1.3px solid #cbcbcb;
    /* padding: 3px; */
    padding-left: 3px;
    margin-top: 0.6%;
    width: 44px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 1px;
}
.one-line {
    padding-top: 21px;
}
.dsa img {
    width: 153%;
}
.one-line, .dsa {
    padding-left: 24%;
}
.home1 {
    color: #ff5912 !important;
}
.home1 p {
    border: 2px solid #ff5912;
    width: 22px;
    border-radius: 3px;
    margin-top: 5px;   
}
.home2 p {
    border: 1px solid #ff5912;
    border-radius: 3px;
    width: 17px;
    margin-top: 6px;
}
.home2 {
    margin-left: 24px;
}
.dots {
    padding-left: 119%;
    margin-top: -12px;
}
.dsa-banner {
    height: 578px;
    margin-top: 82px;
}
.dsa-info {
    padding-top: 162px;
    margin-left: 19%;
    margin-right: 16%;
}
.dsa-banner h1 {
    color: #34404B;
    line-height: 53px;
    letter-spacing: 1.7px;
    font-size: 2.64vw;
}
.dsa-banner p {
    font-size: 1.49vw;
    margin-top: 23px;
    color: #34404B;
    letter-spacing: 1.4px;
    line-height: 2.6rem;
}
.banner-button {
    margin-left: 19%;
    margin-top: 65px;
}
.levels-button {
    margin-left: 43.2%;
    margin-top: 101px;
    font-size: 21px !important;
}
.banner-button ,.levels-button{ 
    width: 14.1%;
    height: 55px;
    font-size: 22px;
    border: none;
    background-color: #ff4107;
    color: white;
}
.chef-img {
    float: right;
    padding-right: 4.69%;
    margin-top: 86px;
    width: 214px;
}
.registration {
    background-color: rgb(59, 56, 56);  
    letter-spacing: 0.25px;
}
.reg-cont {
    display: -webkit-inline-flex;
    color: white;
    margin-left: 15%;
}
.com {
    padding-left: 35px;
}
.title2 {
    margin-top: 308px;
    padding-left: 1px;
}
.card-l {
    position: absolute;
    width: 34.8%;
    right: 25.9%;
    margin-top: 33px;
}
section {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    padding-left: 19%;
    padding-right: 18%;
}
.des-img >h3 , .levels > p {
    font-size: 1.3vw;
    letter-spacing: .89px;
    color: #2F2F2F;
    font-weight: 350;   
}
.des-img p del {
    font-size: 24px;
}
.h3-text {
    color: #3f3e3e;
    
    line-height: 35px;
}
.red-title {
    padding-top: 12px;
    color: #ff4107 !important;
}
.mock {
    padding-top: 40px;
}
.titles {
    padding-top: 36px;
    font-size: 1.2vw;
    letter-spacing: 1.9px;
}
.levels > p {
    line-height: 42px;
    padding-top: 51px;
    padding-left: 19%;
}
.des-img {
    min-width: 60%;
    margin-right: 21px;
    padding-top: 30px;
}
.rs {
    margin-top: 53px;
    position: absolute;
    font-size: 1.3vw;
    line-height: 3vw;
    margin-left: 3.5%;
    letter-spacing: .1vw;
    font-weight: 100;
}
.Avail {
    letter-spacing: 2px;
}
.registration ul {
    display: -webkit-inline-flex;
    list-style: none;
    margin-left: 19%;
    color: white;
    font-weight: 100;
}
.reg {
    padding: 18px 0px 19px 0px;
}
.date-text {
    font-size: 23px;
    padding-top: 23px;
}
.divider {
    border-left: 1px solid white;
    margin: 20px 54px 20px 56px;
}
.date {
    font-size: 27.5px;
    font-weight: 300;
    padding-left: 25px;
}
.date2 {
    padding-left: 43px;
}
.line {
    border-left: 2px solid rgb(175, 173, 173);
    margin-left: 42px;
    height: 60%;
}
/* dsa-certi */
.dsa-certi {
    height: 522px;
    background-color: #f2f6f8;
}
.dsa-certi h1 {
    font-size: 53px;
    padding-top: 5.19%;
    text-align: center;
    padding-left: 14px;
    letter-spacing: .2px;
    font-weight: 400;
    color: #4a4a4a;
}
.dsa-Description p {
    padding-top: 41px;
    font-size: 22px;
    padding-left: 19.1%;
    color: #4a4a4a;
    letter-spacing: 1.24px;
    line-height: 1.93;
    padding-right: 17%;
    font-weight: 400;
}
.next-p {
    padding-top: 43px !important;
}
.enrol {
    margin-top: 4%;
}
.enrol h1{
    text-align: center;
    font-size: 2.9vw;
    letter-spacing: 1px;
    color: #34404b;
    font-weight: 400;
    padding-left: .50%;
}
.enrol > ul {
    display: -webkit-inline-flex;
    padding-top: 29px;
    margin-left: 32.5%;
} 
.foundation {
    letter-spacing: .9px;
    margin-top: 0.5%;
    color: #34404B;
    font-weight: 600;
    font-size: 1.25vw;
}
.Advanced , .Exp{
    letter-spacing: 1.3px;
    color: #FF5912;
    font-weight: 400;
    font-size: 1.5vw;
}
.Exp {

    padding-left: 35.8%;
}
.Advanced { 
    padding-left: 37.8%;
}
.horizontal {
    border: 2px solid #ff5912;
    width: 20px;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 2px;
}
.enrol > p {
    line-height: 42px;
    padding-top: 47px;
    padding-left: 19%;
}
.free-res {
    margin-top: 2%;
    display: -webkit-inline-flex;
}
.detail {
    padding-left: 105px;
    padding-top: 15px;
    font-size: 22px;
    color: #4a4a4a;
    letter-spacing: 1.7px;
    font-weight: 700;
    line-height: 1.7;
}
.detail h3 {
    padding-top: 5px;
    font-size: 21px;
    color: #ff5912;
    letter-spacing: 2.7px;
}
.com2 {
    display: none;
}
.courses {
    position: relative;
    font-size: 24px;
}
.courses h4{
    padding-left: 324px;
    font-size: 25px;
    float: left;
    padding-top: 109px;
}
.courses > div {
    line-height: 45px;
}
.courses button {
    font-size: 22px;
    border: 1px solid rgb(252, 92, 34);
    background-color: rgb(252, 92, 34);
    color: white;
    height: 53px;
    width: 212px;
    margin-left: 41%;
    margin-top: 60px;
}
.card-m {
    display: none;
}
.testimonials {
    background-color: #f2f6f8;
    margin-top: 6%;
    height: 920px;
}
.testimonials > h2, .testimonials > p {
    text-align: center;
}
.testimonials > h2 {
    padding-top: 7%;
    font-size: 55px;
    font-weight: 350;
    padding-bottom: 2%;
    padding-left: 11px;
}
.lorem-t {
    text-align: center;
    font-size: 21.9px;
    letter-spacing: 1.35px;
    margin-bottom: 81px;
}
.cc-card {
    height: 427px;
    width: 49%;
    margin-left: auto;
    background-color: white;
    margin-right: auto;
    border: 1px solid #dad7d7;
}
.whitecard{
    width: 68%;
    padding-bottom: 28%;
}
.amit_image{
    margin-top: 170px;
    margin-left: 39%;
    width: 73%;
}
.cc-photo {
    width: 9.6%;
    height: 426px;
    background-color: #F2F2F2;
    position: absolute;
}
.sof {
    padding-top: 7px;
    font-size: 1.3vw;
    font-weight: 200;
    letter-spacing: .9px;
}
.right-cont {
    position: absolute;
    margin-top: 63px;
}
.content_ccdsa img {
    position: absolute;
    margin-left: -3%;
    margin-top: -17px;
    width: 2.4%;
}
.content_ccdsa {
    line-height: 35px;
    letter-spacing: 1.6px;
    font-size: 1.2vw;
    margin-right: 41%;
    font-weight: 400;
}
.padding {
    color: #2F2F2F;
    margin-left: 17%;
}
.card-dot {
    margin-left: 56.49%;
    margin-top: 22px;
}
.name {
    padding-top: 35px;
    padding-left: 2px;
    font-size: 1.24vw;
    letter-spacing: 1.5px;
}
.left-cart {
    float: left;
    height: 356px;
    position: absolute;
    background-color: white;
    opacity: .2;
    margin-top: 2%;
    width: 12.69%;
}
.left-cart > h5 {
    font-size: 1.2vw;
    line-height: 2.29rem;
    letter-spacing: 1.5px;
    padding-top: 52px;
    padding-right: 55px;
    font-weight: 400;
}
.left-cart p {
    border-bottom: 1px solid rgb(136, 127, 127);
    padding-top: 58%;
    width: 10.2vw;
}
.d-img {
    width: 31.1%;
    height: 19px;
    margin-left: 81%;
}
h4.hr {
    border-bottom: 1px solid gray;
    width: 45%;
    margin-top: 17px;
}
.cc-card i {
    position: absolute;
    margin-top: 35px;
    font-size: 1.2vw;
    letter-spacing: 2px;
    font-weight: 300;
}
.arrow-s img {
    width: 3.7%;
    position: absolute;
    left: 19%;
    margin-top: 180px;
}
.arrow-e  img {
    width: 3.7%;
    position: absolute;
    right: 18.4%;
    margin-top: -247px;
}
.right-card {
    float: right;
    margin-top: -386px
}
.right-card img {
    width: 276px;
}
/* certified-users */
.head-line {
    text-align: center;
    padding-left: 3px;
    font-size: 52px;
    padding-top: 6.5%;
    font-weight: 400;
    color: #34404b;
    letter-spacing: .5px;
}
p.lorem-t2 {
    padding-top: 22px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.29px;
}
.certified-u {
    margin: 2.79% 8% 0% 16.19%;
}
.box {
    background: linear-gradient(to right, #f7f7f7 55%, #ffffff 45%);
    border: 1px solid #cbcbcb;
}
.card {
    width: 255px;
    margin: 38px 21.69px 28px 21.69px;
    display: inline-block;
    height: 458px;
}
.user-img {
    padding-top: 58px;
    padding-left: 51px;
    width: 126px;
}
.card h3 {
    color: #4E4D4D;
    padding-top: 48px;
    padding-left: 49px;
}
.card p {
    color: #4E4D4D;
    padding-left: 49px;
    font-size: 15px;
    padding-top: 5px;
    font-weight: 400;
    letter-spacing: .62px;
    padding-bottom: 3px;
}
.card span {
    color: #4E4D4D;
    padding-left: 49px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.8px;
    font-weight: 400;
}
.under-line {
    width: 166px;
    margin-left: 49px;
    margin-top: 21px;
}

.tag {
    padding-top: 17px;
    margin-left: 49px;
    font-size: 19px;
    font-weight: 100;
}
.dot {
    padding-left: 15%;
    padding-top: 2%;
}
/* social-menu */
.social-media {
    background-color: #f2f2f2;
    margin-top: 104px;
    border-bottom: 2px solid white;
    text-align: center;
    height: 141px;
}
.social-media h3 {
    text-align: center;
    padding-top: 31px;
    font-weight: 300;
    padding-left: .69%;
}
.social-media img {
    padding: 7px;
}
.i-con {
    padding-left: 1.2%;
    padding-top: 11px;
}
.fb {
    width: 14px;
}
.tw {
   width: 32px;
}
.gg {
    width: 31px;
}
.in {
    width: 26px;
    margin-left: 10px;
}
/*  */
.footer {
    background-color: #f2f2f2;
    padding: 11px;
    height: 188px;
}
.footer h4 {
    margin-left: 7%;
    margin-top: 63px;
    position: absolute;
}
.footer > img {
    margin-left: 8%;
    padding-top: 4.8%;
    position: absolute;
}
.menu-list {
    margin-top: 12px;
    display: -webkit-inline-flex;
    margin-left: 5.4%;
    font-weight: 100;
}
#cc-dsa img {
    width: 2%;
    margin-left: 1.5%;
    position: absolute;
}    
.menu-list li {
    font-size: 1vw;
    padding: 36px 26px 26px;
    padding-left: 27px;
    letter-spacing: .5px;
}
.menu-list2 {
    display: -webkit-inline-flex;
    margin-left: 3%;
}
.menu-list2 li {
    font-size: 1vw;
    padding-left: 9.39%;
    font-weight: 400;
    color: #34404B;
    letter-spacing: .3px;
}
.codechef-i {
    position: absolute;
    left: 7%;
    margin-top: 2%;
}
.pay {
    font-size: 0.9vw;
    position: absolute;
    font-weight: 500;
    right: 365px;
    letter-spacing: 1px;
}
.community {
    padding-right: 38px;
}
.codechef-i > img {
    width: 88px; 
}
.p-card{
    position: absolute;
    right: 5.99%;
    width: 11%;
}
.practise {
    margin-left: 13px;
}
.codechef-img {
    height: 13px;
}
.mobile-price {
    display: none;
}